/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #0072B8;
  color: white;
  padding: 15px;
  text-align: center;
}

.navbar nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.hero {
  position: relative;
  background-image: url('https://th.bing.com/th/id/R.d2db51695255464cce667128a98a30c5?rik=cwDq5%2fxm%2fAOy4Q&pid=ImgRaw&r=0'); 
  background-size: cover;
  height: 400px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.promotion {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #0072B8;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}